# Assignment
In this assignment, you need to train regression models on Beijing PM2.5 dataset in winter of 2014.
1. You have to implement
    - a Linear(Polynomial) regressor
    - a Random Forest regressor
2. You need to show a residual plot for each of your model on both training data and testing data.
3. $R^2$  score need to be larger than 0.72 on testing data.

In [24]:
# Do not modify
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image

# inline plotting instead of popping out
%matplotlib inline

df = pd.read_csv(
    'http://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv',
    sep=',')
df.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [25]:
# Do not modify
df = df.drop(['cbwd'], axis=1)  # drop non-scalar feature
df = df.dropna(axis=0, how='any')  # drop samples who has nan feature
df.head()

    No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES   Iws  Is  Ir
24  25  2010      1    2     0  129.0   -16  -4.0  1020.0  1.79   0   0
25  26  2010      1    2     1  148.0   -15  -4.0  1020.0  2.68   0   0
26  27  2010      1    2     2  159.0   -11  -5.0  1021.0  3.57   0   0
27  28  2010      1    2     3  181.0    -7  -5.0  1022.0  5.36   1   0
28  29  2010      1    2     4  138.0    -7  -5.0  1022.0  6.25   2   0

In [26]:
# Do not modify
idx = np.logical_or(
    np.logical_and(df['year'].values == 2014, df['month'].values < 3),
    np.logical_and(df['year'].values == 2013, df['month'].values == 12))
X = df.loc[idx].drop('pm2.5', axis=1)
y = df.loc[idx]['pm2.5'].values
X.head()

          No  year  month  day  hour  DEWP  TEMP    PRES   Iws  Is  Ir
34320  34321  2013     12    1     0   -13  -2.0  1026.0  0.89   0   0
34321  34322  2013     12    1     1   -14  -3.0  1025.0  3.13   0   0
34322  34323  2013     12    1     2   -13  -3.0  1025.0  0.89   0   0
34323  34324  2013     12    1     3   -13  -4.0  1025.0  0.89   0   0
34324  34325  2013     12    1     4   -13  -3.0  1025.0  1.78   0   0